name: Deploy to S3

on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: prod

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'

    - name: Install dependencies
      run: npm ci

    - name: Create initialized .env file
      run: |
        echo "NEXT_PUBLIC_NAME=${{ vars.NEXT_PUBLIC_NAME }}" >> .env.local
        echo "NEXT_PUBLIC_TITLE=${{ vars.NEXT_PUBLIC_TITLE }}" >> .env.local
        echo "NEXT_PUBLIC_DESCRIPTION=${{ vars.NEXT_PUBLIC_DESCRIPTION }}" >> .env.local
        echo "NEXT_PUBLIC_EMAIL=${{ vars.NEXT_PUBLIC_EMAIL }}" >> .env.local
        echo "NEXT_PUBLIC_PHONE=${{ vars.NEXT_PUBLIC_PHONE }}" >> .env.local
        echo "NEXT_PUBLIC_LOCATION=${{ vars.NEXT_PUBLIC_LOCATION }}" >> .env.local
        echo "NEXT_PUBLIC_LINKEDIN=${{ vars.NEXT_PUBLIC_LINKEDIN }}" >> .env.local
        echo "NEXT_PUBLIC_GITHUB=${{ vars.NEXT_PUBLIC_GITHUB }}" >> .env.local
        echo "NEXT_PUBLIC_TWITTER=${{ vars.NEXT_PUBLIC_TWITTER }}" >> .env.local
        echo "NEXT_PUBLIC_AGE=${{ vars.NEXT_PUBLIC_AGE }}" >> .env.local
        echo "NEXT_PUBLIC_EDUCATION=${{ vars.NEXT_PUBLIC_EDUCATION }}" >> .env.local
        echo "NEXT_PUBLIC_CITY=${{ vars.NEXT_PUBLIC_CITY }}" >> .env.local
        echo "NEXT_PUBLIC_NAME_COMPLETO=${{ vars.NEXT_PUBLIC_NAME_COMPLETO }}" >> .env.local

    - name: Build
      run: npm run build
        
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ vars.AWS_REGION }}

    - name: Deploy to S3
      run: aws s3 sync out/ s3://${{ vars.AWS_S3_BUCKET }} --delete

    - name: Invalidate CloudFront
      run: aws cloudfront create-invalidation --distribution-id E3UX142HXBY2UN --paths "/*"
